{% if index %}
  {% assign me = post %}
{% else %}
  {% assign me = page %}
{% endif %}

{% assign myid = me.postId %}

{% unless page.no_header %}
  <header class="project-header">
    <div class="app-icon-name">
      <img src="/images/{{ myid }}/{{ me.appIcon }}" class="my-img app-icon">
      <h1 class="entry-title app-name"><a href="{{ root_url }}{{ post.url }}">{{ me.appName }}</a></h1>
    </div>
    {% unless page.meta == false %}
    <p class="meta">
      {% include post/date.html %}{{ time }}
      {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %} | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread" class="article-comments">Comments</a>
        {% endif %}
    </p>
    {% endunless %}
  </header>
{% endunless %}

<div class"content-part">
<div class="project-entry-content">

  <div class="entry-content app-description">{{ content }} </div>
  <div class="app-market">
    <a href="{{ me.demoUrl }}" class="market-icon">
      {% if me.demoUrl %}
      <img src="/images/viewdemo-icon.png" class="my-img">
      {% else %}
      <img src="/images/viewdemo-icon.png" class="my-img" style="opacity: 0.25;">
      {% endif %}
    </a>
    <a href="{{ me.appStoreUrl }}" class="market-icon">
      {% if me.appStoreUrl %}
      <img src="/images/applestore-icon.png" class="my-img">
      {% else %}
      <img src="/images/applestore-icon.png" class="my-img" style="opacity: 0.25;">
      {% endif %}
    </a>
  </div>
</div>

<div id={{ myid }} class="carousel slide screenshot-carousel">
  <ol class="carousel-indicators">
    {% for i in (0..me.screenshotsNum) %}
      {% if i == 0 %}
        <li data-target="#{{ myid }}" data-slide-to={{i}} class="active"></li>
      {% else %}
        <li data-target="#{{ myid }}" data-slide-to="{{i}}"></li>
      {% endif %}
    {% endfor %}
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for i in (0..me.screenshotsNum) %}
      {% if i == 0 %}
        <div class="active item">
      {% else %}
        <div class="item">
      {% endif %}
      <img src="/images/{{ myid }}/{{i}}.png" class="screenshot-img">
    </div>
    {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#{{ myid }}" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#{{ myid }}" data-slide="next">&rsaquo;</a>
</div>
</div>
<div style="clear:both;"></div>
