{% if index %}
  {% assign me = post %}
{% else %}
  {% assign me = page %}
{% endif %}

{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread" class="article-comments">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}

{% assign myid = me.postId %}

<div class"content-part">
<div class="project-entry-content">
  <div class="app-icon-name">
    <img src="/images/{{ myid }}/{{ me.appIcon }}" class="my-img app-icon">
    <p class="app-name">{{ me.appName }}</p>
  </div>
  <div class="entry-content app-description">{{ content }} </div>
  <div class="app-market">
    <a href="#" class="market-icon">
      <img src="/images/viewdemo-icon.png" class="my-img">
    </a>
    <a href="#" class="market-icon">
      <img src="/images/applestore-icon.png" class="my-img">
    </a>
  </div>
</div>

<div id={{ myid }} class="carousel slide screenshot-carousel">
  <ol class="carousel-indicators">
    {% for i in (0..me.screenshotsNum) %}
      {% if i == 0 %}
        <li data-target="#{{ myid }}" data-slide-to={{i}} class="active"></li>
      {% else %}
        <li data-target="#{{ myid }}" data-slide-to="{{i}}"></li>
      {% endif %}
    {% endfor %}
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for i in (0..me.screenshotsNum) %}
      {% if i == 0 %}
        <div class="active item">
      {% else %}
        <div class="item">
      {% endif %}
      <img src="/images/{{ myid }}/{{i}}.png" class="screenshot-img">
    </div>
    {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#{{ myid }}" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#{{ myid }}" data-slide="next">&rsaquo;</a>
</div>
</div>
<div style="clear:both;"></div>
