// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: #FFFFFF;

html {
	background: $white;
}

body {
	font-family: $sans !important;
	font-size: 1em;
	max-width: 850px;
	padding-left: 0.5em;
	padding-right: 0.5em;

	> header {
		background: $white;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;

		h1 {
			a, a:visited, a:hover {
				color: #8C8C8C;
				font-family: $heading-font-family;
			}
		}
	}

	> nav {
		background: $white;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 0px;
		padding-right: 0px;

		form .search {
			border-radius: 0.2em 0.2em 0.2em 0.2em;
			box-shadow: none;
			border: 0px;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		a {
			font-family: $sans;
			font-size: 0.9em;
			padding-top: 0.3em;
			line-height: 1.5em;
      text-decoration: none !important;
    }

		li + li {
			border-left: 0px;

			a {
				border-left: 0px;
			}
		}
	}

	> div {
		background: $white;
		border-bottom: 0px;

		> div {
			background: $white;
			border-right-width: 0px;
		}
	}

	> footer {
		background: $white;
		text-shadow: none;
		color: #AAAAAA;
	  	padding-left: 0;
	  	padding-right: 0;
		border-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	#content {
		> article {
			padding-left: 0px;
			padding-right: 0px;
		}

		> div {
			> article, > section {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
}

article {
	padding-top: 2em;
  margin-bottom: 20px;

	.entry-content {
		h3 {
			font-style: italic
    }
    //text-align: justify;
	}

	ul, ol {
		margin-left: 2em;
	}

	a, a:visited {
		color: #1863A1;
	}

	header {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
		}
	}
}

#content {
	div.pagination {
		background: none repeat scroll 0 0 transparent;
		margin: 0 10px;
		font-size: 0.95em;
		padding-bottom: 1.5em;
		margin-top: 4em;
		position: relative;
		text-align: center;
		border-top: dotted 1px #D1D1D1;
		border-bottom: dotted 1px #D1D1D1;
	}

	.blog-index {
		article {
			padding-top: 4em;

			header {
				padding-left: 0;
  			padding-right: 0;
			}
		}

		h1 {
			a {
				font-family: $heading-font-family;
				font-weight: 400;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	.hentry {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
			font-size: 2.2em;
		}
	}

}

figure.code {
	.highlight {
		background: $base03 !important;

		.gutter {
			display: none;
		}
	}
}

.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
	background: $base03 !important;
}

aside {
	display: none;
}

// override bootstrap
input {
  margin-bottom: 0 !important;
}

.article-comments {
  text-transform: none !important;
  text-decoration: none !important;
}

.project-entry-content {
  float: left;
  width: 50%;
}

.app-icon-name {
  height: 120px !important;
}

.app-icon {
  height: 100px !important;
  float: left;
  margin-right: 20px !important;
  border-radius: 0.75em !important;
  border: 1px solid #ddd !important;
}

.app-name {
  font-weight: 900;
  font-size: 48px;
  line-height: 90px;
}

.app-name a:hover {
  text-decoration: none !important;
}

.app-description {
  min-height: 320px;
}

.app-market {
  height: 55px;
}

.market-icon {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 10px;
}

.market-icon:hover {
  text-decoration: none;
}

.my-img {
  height: 100%;
  border: 0;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.screenshot-carousel {
  width: 320px;
  float: right;
  margin-right: 0px;
  margin-top: -150px;
}

.screenshot-img {
  border: 1px solid #ddd;
}

.carousel-control {
  top: 50%;
}

.carousel-control.right {
  right: -65px;
}

.carousel-control.left {
  left: -65px;
}

.carousel-indicators {
  right: 110px !important;
  bottom: -25px !important;
  top: auto !important;
}

.carousel-indicators li {
  background-color: #AAAAAA;
}

.carousel-indicators.active {
  background-color: #66CCFF !important;
}

//project-header
.project-header {
  background: none;
}
